<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="Generador de degradados en tiempo real, Adaptada para dispositivos moviles, aplicacion web y de escritorio."
    />

    <!-- PWA Metadata -->
    <meta name="theme-color" content="#9869dd" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <title>Vue Gradient</title>

    <link
      rel="stylesheet"
      href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    />
    <link rel="stylesheet" href="./css/style.css" />

    <!-- Icons Config -->

    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="./img/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="./img/favicon.png" />
    <link rel="apple-touch-startup-image" href="./img/favicon.png" />

    <!-- Manifest -->
    <link rel="manifest" href="./manifest.json" />

    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{title}}</h1>

      <hr />

      <div class="input-container">
        <div>
          <label class="text" for="color1">Color 1: </label>
          <input class="color" type="color" id="color1" v-model="color1" />
        </div>
        <div>
          <label class="text" for="color2">Color 2: </label>
          <input class="color" type="color" id="color2" v-model="color2" />
        </div>
      </div>

      <hr />

      <span class="value"> {{color_one}} </span>

      <span class="value"> {{color_two}} </span>

      <br />

      <div class="input-container">
        <div>
          <input
            class="radio"
            type="radio"
            id="gradient-right"
            v-model.number="gradient_direction"
            value="1"
          />
          <label for="gradient-right" class="text">Right</label>
        </div>
        <div>
          <input
            class="radio"
            type="radio"
            id="gradient-left"
            v-model.number="gradient_direction"
            value="2"
          />
          <label for="gradient-left" class="text">Left</label>
        </div>
        <div>
          <input
            class="radio"
            type="radio"
            id="gradient-top"
            v-model.number="gradient_direction"
            value="3"
          />
          <label for="gradient-top" class="text">Top</label>
        </div>
        <div>
          <input
            class="radio"
            type="radio"
            name="gradient-bottom"
            v-model.number="gradient_direction"
            value="4"
            id="gradient-bottom"
          />
          <label for="gradient-bottom" class="text">Bottom</label>
        </div>
      </div>

      <div class="css-property">
        <label>
          <input class="css-value" type="text" :value="set_gradient" />
        </label>
      </div>

      <div class="gradient-zone" :style="set_gradient"></div>
    </div>

    <script src="./js/main.js"></script>
    <script src="./js/mountApp.js"></script>
  </body>
</html>
